.deps/*Po
.vscode/settings.json


elf_linker-1.0/*.o
ARM_runner_example

lecture_ELF/bfile.o
lecture_ELF/display_header.o
lecture_ELF/display_section.o
lecture_ELF/read_ELF.o
lecture_ELF/display.o
lecture_ELF/read_header_elf.o
lecture_ELF/display_relocation.o
